@inject NavigationManager navigationManager

<MatNavMenu Multi="true" Class="app-sidebar">

    <MatNavSubMenu @bind-Expanded="@VisitorMenuOpen">
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon>people</MatIcon><span class="miniHover">&nbsp;Visitors</span>
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="visitorlog">
                <MatIcon>people</MatIcon> <span class="miniHover">&nbsp;Visitor log</span>
            </MatNavItem>
            <MatNavItem Href="invites">
                <MatIcon>person</MatIcon> <span class="miniHover">&nbsp;Invites</span>
            </MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>

    <MatNavSubMenu>
        <MatNavSubMenuHeader>
            <MatNavItem AllowSelection="false">
                <MatIcon>settings</MatIcon><span class="miniHover">&nbsp;Settings</span>
            </MatNavItem>
        </MatNavSubMenuHeader>
        <MatNavSubMenuList>
            <MatNavItem Href="Account">
                <MatIcon>person</MatIcon> <span class="miniHover">&nbsp;Account</span>
            </MatNavItem>
            <MatNavItem Href="IPads">
                <MatIcon>tablet_mac</MatIcon> <span class="miniHover">&nbsp;iPads</span>
            </MatNavItem>
            <MatNavItem Href="Printers">
                <MatIcon>print</MatIcon> <span class="miniHover">&nbsp;Badge Printers</span>
            </MatNavItem>
        </MatNavSubMenuList>
    </MatNavSubMenu>

</MatNavMenu>

@code {
    private bool VisitorMenuOpen = true;
}
