@*
Copyright (c) Reaptor AB. All rights reserved.
Licensed under the GNU Affero General Public License v3.0. See LICENSE in the project root for license information.
*@

@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]

<MatAppBarContainer>
    <MatAppBar Fixed="true" style="z-index: 100;">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatIconButton Icon="menu"></MatIconButton>
                <MatAppBarTitle>OpenVisitor</MatAppBarTitle>
            </MatAppBarSection>
            <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                <MatIconButton Icon="favorite"></MatIconButton>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        <MatDrawerContainer Style="width: 100vw; height: 100vh;">
            <MatDrawer @bind-Opened="@Opened">
                <NavMenu />
                @* <footer class="drawer-footer">
                    <MatTooltip Tooltip="Help">
                        <MatButton Icon="help" RefBack="@context" Link="https://github.com/enkodellc/blazorboilerplate"><span class="miniHover">Help & Support</span></MatButton>
                    </MatTooltip>
                </footer> *@
            </MatDrawer>
            <MatDrawerContent>
                <section>
                    @Body
                </section>
                <footer class="page-footer">
                </footer>
            </MatDrawerContent>
        </MatDrawerContainer>
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
    }
}